/**RESET CSS **/
*,
*::after,
*::before { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  font-size: 1.6rem;
  line-height: 150%;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

html,
body {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;

  background: #A3D0D8;
}

img {
  display: block;
  max-width: 100%;
}

/** FONTE **/
*{
  font-family: 'Monda', sans-serif;
}

/** HEADER **/
header{ 
  width: 1366px;
  height: 300px;
  flex-shrink: 0;
  display: flex;

  position: relative;
  
  background: var(--azul-claro, #BADBE1);
}

/** carrinho **/

.janela-modal{
  width: 71vh;
  height: 70vh;
  position: relative;
  top: -153rem;
  left: 39rem;
  background-color: rgb(255, 255, 255);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.janela-modal.abrir{
  display: flex;
}

.modal{
  width: 100%;
  min-width: 53rem;
  min-height: 20rem;
  background-color: rgb(255 255 255);
  padding: 1rem;
}

.fechar{
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0;
  background-color: red;
  color: white;
  font-size: 2rem;

  cursor: pointer;
}

.cart-table{
  width: 100%;
  border-collapse: collapse;
  background-color: #f1f1f1;
}

.table-head-item{
  text-align: start;
  border-bottom: 1px solid #959595;
  padding-bottom: 0.6rem;
  text-transform: uppercase;
}

.second-col, .third-col{
  width: 26%;
}

.cart-product td{
  padding: 8px 0;
}

.product-identification{
  display: flex;
  align-items: center;
}

.cart-product-image{
  width: 12rem;
  height: 7rem;
}

.cart-product-title{
  margin-left: 1.6rem;
  font-size: 1.8rem;
}

.product-qtd-input{
  width: 3.8rem;
  height: 3.5rem;
  border-radius: 0.6rem;
  border: 0.2rem solid #56c5db;
  text-align: center;
  background-color: #eee;
}

.remove-product-button{
  margin-left: 0.2rem;
  background-color: red;
  color: white;
  padding: 1rem;
  border: 0;
  border-radius: 0.6rem;

  transition: 0.2s;
}

.remove-product-button:hover{
  filter:brightness(0.8);
}

.cart-total-container{
  border-top: 0.1rem solid #959595;
  text-align: end;
  padding: 0.6rem 1.6rem 0 0;
  font-size: 1.8rem;
}

.cart-total-container strong{
  margin-right: 1.2rem;
}

.purchase-button{
  display: flex;
  margin: 2.4rem auto 0;


  cursor: pointer;
  background-color: #56c5db;
  color: white;
  border: 0;
  border-radius: 0.6rem;
  padding: 1.6rem 2rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  transition: 0.2s;
}

.purchase-button:hover{
  filter: brightness(0.8);
}

/** LOGO **/ 
#home{
  width: 24.8rem;
  height: 180px;
  flex-shrink: 0;
  
  margin-top: 5rem;
}

/** searchBar **/
#bar{
  width: 686px;
  height: 73.465px;
  flex-shrink: 0;
  margin-top: 13rem;
  
  display: flex;

  border-radius: 14px;
  background: #94BBC2;
  padding: 8px;
}

#searchBar{
  width: 63rem;
  background: none;

  color: #e1e1e1;
}

#lupa{
  width: 45.37px;
  height: 36.369px;
  flex-shrink: 0;
  margin-top: 1.2rem;
}

#lupa:hover{
  background-color: #a4d0d89f;
  border-radius: 8px;
}

#lupa:active{
  background: #94BBC2;
}

/** Icones **/
.icons{
  display: flex;
  margin-left: 7rem;
  margin-top: 125px;
  gap: 58px;

  position: relative;
}

#shopCart{
  width: 59px;
  height: 59px;
  flex-shrink: 0;

  background: var(--azul-claro, #BADBE1);

  cursor: pointer;
}

#shopCart:hover{
 border: solid 1px rgb(255, 255, 255);
}

#shopCart:active{
  background-color:  #a7cdd3;
}

#person{
  width: 59px;
  height: 59px;
  flex-shrink: 0;
  background: var(--azul-claro, #BADBE1);
  cursor: pointer;
}

#person:hover{
 border: solid 1px rgb(255, 255, 255);
}

#person:active{
  background-color:  #a7cdd3;
}

/** NAV **/
nav{
  height: 85px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;

  align-items: center;
  background: var(--azul-inter, #1DAFD1);
}

nav>ul{
  display: flex;
  gap: 73px;
  margin-top: 20px;

  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

nav>ul>li>a{
  font-size: 32px;
  text-transform: uppercase;
  color: #FFF;
}

nav>ul>li>a:hover{
  color: #ffffff9d;
}

nav>ul>li>a:active{
  color: #fff;
}

/** FOOTER **/
footer{
  width: 1366px;
  height: 273px;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  gap: 9.8rem;

  padding: 44px 0 0 0 ;

  margin-top: 9.9rem;

  background: var(--azul-inter, #1DAFD1);
}

a{
  color: black;
}
 
a:active{
  text-decoration: none;
}

footer>div>ul>li{
  color: white;
}

#quemSomos{
  margin-bottom:  2.1rem;
}

#copyright{
  margin-top: 10rem;
}

/** CONTAINER **/
#container{
  text-align: center ;
}

/** ITEMS **/
.item{
  display: inline-flex;
  align-items: flex-start;
  gap: 10rem;          

  margin-top: 7.1rem;
}

article{
   border: 1px solid white;
}

article>img{
  width: max-content;
  height: 260px;
  flex-shrink: 0; 
  padding: 1.5rem;
}

.title{
  color: #000;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/** PRECO **/
.preco{
  display: flex;
  width: 24.5rem;
  height: 32px;
  padding: 7px 55px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: 0.7rem;
  margin-bottom: 1.4rem;



  border-radius: 9px;
  background: var(--azul-inter, #1DAFD1);
}

.preco{
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.adicionar>button{
  display: inline-flex;
  height: 3.2rem;
  width: 25rem;
  align-items: center;
  flex-shrink: 0;

  border-radius: 9px;
  background: #FFF;

  cursor: pointer;
}

.adicionar>button:hover{
  background: #ffffffa1;
}

.adicionar>button:active{
  background-color: #fff;
}

.adicionar>button>img{
  width: 2.8rem;
  height: 3.2rem;
  flex-shrink: 0;
  border-radius: 8px 0px 0px 8px;
  background: #789EFF;
}

.adicionar>button>span{
  margin-left: 6.8rem;
}

